@import 'tailwindcss';

*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'Urbanist';
  src: url('assets/fonts/Urbanist-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

body{
    background-color: var(--color-main-60-dark);
    font-family: 'Urbanist'
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@theme {
    --color-main-60-light: #fefefe;
    --color-main-60: #f7f7f7;
    --color-main-60-dark: #dcdede;
    --color-block-30: #3A4750;
    --color-accent-10: #2185D5;
    --color-accent-10-dark: #0d66b5;

    --color-text: #303841;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #3A4750;

    &::-webkit-scrollbar-button{
        display: none;
    }
}